@using LanuageFeatures.Models
@model LanuageFeatures.Models.Product[]

@{
  Layout = "~/Views/_BasicLayout.cshtml";
  ViewBag.Title = "Demo Array";
}

@if(@Model.Length > 0)
{
  <table>
      <thead><tr><th>Product</th><th>Price</th></tr></thead>
      <tbody>
          @foreach (Product item in Model)
          {
            <tr>
                <td>@item.Name</td>
                <td>$@item.Price</td>
            </tr>
          }
      </tbody>
  </table>
}