<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>Product information</div>
    <div>
        @RenderBody()
    </div>
    <div>Visit our web site : www.google.com</div>
</body>
</html>
