<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libraries"/>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />
    <add key="dataBaseConfigStart" value="Data Source=(LocalDB)\v11.0;AttachDbFilename=" />
    <add key="dataBase" value="DataBases\AutoLot.mdf" />
    <add key="dataBaseConfigEnd" value=";Integrated Security=True;Connect Timeout=30" />
  </appSettings>

  <connectionStrings>
    <add name="AutoLotEntities" connectionString="metadata=res://*/Inventory.csdl|res://*/Inventory.ssdl|res://*/Inventory.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\acmyk\Dropbox\Public\Documents\Books\Programming Language\C#\On Reading\sampleTroelsen\MailProject\MailProject\bin\Debug\DataBases\AutoLot.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>